/* 
 * Enrique Ruiz Durazo
 * 2019-2026
 */

/* Content */
#content {
  flex: 1;
  max-width: var(--max-width-home);
  margin: 0 auto;
  padding-top: var(--font-size-5);
}

/* Section - Quotes */
#quotes {
  position: relative;
  margin: calc(var(--font-size) * 4) 0;
  padding: 0 var(--font-size-4);
  min-height: calc(var(--font-size) * 12);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-wrap: balance;
}

#quotes:hover {
  cursor: pointer;
}

#quotes:focus-visible {
  box-shadow: 0 0 0 4px var(--blue);
  border-radius: 16px;
}

#quotes * {
  font-family: var(--font-serif);
  font-weight: 400;
  text-align: center;
}

#quotes .quote-text span {
  font-size: calc(var(--font-size) * 1.1);
  line-height: calc(var(--font-size) * 1.6);
}

#quotes .quote-attribution span {
  font-size: calc(var(--font-size) * 0.8);
  line-height: calc(var(--font-size) * 1.6);
  color: var(--_70);
}

#quotes:hover {
  cursor: pointer;
}

#quotes .quote-text,
#quotes .quote-attribution {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

#quotes .quote-text.fade,
#quotes .quote-attribution.fade {
  opacity: 0;
}

/* Loader ellipsis bouncing dots */
#loader {
  position: absolute;
  display: initial;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 24px;
  aspect-ratio: 2;
  --_g: no-repeat radial-gradient(circle closest-side, #101010 90%, #0000);
  background: var(--_g) 0% 50%, var(--_g) 50% 50%, var(--_g) 100% 50%;
  background-size: calc(100% / 6) 50%;
  animation: dots 1s infinite linear;
}

@keyframes dots {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%;
  }
  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%;
  }
  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%;
  }
  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%;
  }
}

/* Section - Quick Links */
#quick-links-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: var(--font-size-8);
}

#quick-links-section ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

#quick-links-section ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#quick-links-section ul li > * {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: calc(var(--font-size) * 0.8);
  width: 155px;
  height: 155px;
  text-align: center;
  font-size: calc(var(--font-size) * 0.8);
  font-weight: 600;
  border-radius: 16px;
  background-color: #fff;
  transition: background-color 0.1s ease-out, box-shadow 0.1s ease-out;
}

#quick-links-section ul li a:hover {
  background-color: #fafafa;
}

#quick-links-section ul li a:focus-visible {
  box-shadow: 0 0 0 4px var(--blue);
}

#quick-links-section ul li a img {
  width: 56px;
  height: 56px;
}

#quick-links-section ul li * div {
  width: 56px;
  height: 56px;
}

/* Media queries */

/* 1040px */
@media screen and (max-width: 1040px) {
  #content {
    width: calc(
      100% -
        (
          (1px * var(--offset) * 0.75) + (var(--offset) - var(--offset) * 0.75) *
            (100vw - 768px) / (1040 - 768)
        )
    );
  }

  #quotes {
    padding: 0 var(--font-size-2);
  }

  #quick-links-section ul {
    max-width: 640px;
  }
}

/* 768px */
@media screen and (max-width: 768px) {
  #content {
    width: calc(
      100% -
        (
          (1px * var(--offset) / 2) +
            ((var(--offset) * 0.75) - var(--offset) / 2) * (100vw - 480px) /
            (768 - 480)
        )
    );
  }

  #quick-links-section ul li > * {
    font-size: calc(
      17px - (17 - 16) * (100vw - 480px) / (768 - 480)
    );
  }
}

/* 480px */
@media screen and (max-width: 480px) {
  #content {
    width: calc(100% - (1px * var(--offset) / 2));
  }

  #quotes {
    padding: 0;
  }

  #quick-links-section ul li > * {
    font-size: var(--font-size);
  }
}
