/* 
 * Enrique Ruiz Durazo
 * 2019
 */

/* Fonts */
@font-face {
  font-family: 'Charter';
  src: url('../assets/fonts/charter-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Charter';
  src: url('../assets/fonts/charter-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/inter-bold.woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/inter-medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/inter-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

/* Variables */
:root {
  --font-main: 'Inter', sans-serif;
  --font-text: 'Charter', serif;
  --font-code: 'Menlo', monospace;
  --font-size: 20px;
  --max-font-size: 20;
  --min-font-size: 16;
  --font-size-1_5: calc(var(--font-size) * 1.5);
  --font-size-2: calc(var(--font-size) * 2);
  --font-size-5: calc(var(--font-size) * 5);
  /* --max-width: 1200px; */
  --max-width: 1424px;
  /* --max-width-in: 1200px; */
  --max-width-in: 1120px;
  --min-width: 320px;
  --grid-unit: 112px;
  --grid-unit-2: calc(var(--grid-unit) * 2);
  --grid-unit-3: calc(var(--grid-unit) * 3);
  --grid-unit-4: calc(var(--grid-unit) * 4);
  --grid-unit-5: calc(var(--grid-unit) * 5);
  --grid-unit-6: calc(var(--grid-unit) * 6);
  --offset: 80;
  /* Colors */
  --selection: #00000020;
  --black: #202020;
  --blue: #0f4fff;
  --text: #404040;
  --text-date: #999;
  --text-description: #808080;
  --text-description-small: #404040;
  --text-img_caption: #808080;
  --text-blockquote: #606060;
  --text-footer: #ccc;
  --_20: #202022;
  --_40: #404040;
  --_60: #606060;
  --_80: #808080;
  --_a: #aaa;
  --_b: #bbb;
  --_c: #ccc;
  --_d: #ddd;
  --_e: #eee;
}

/* Defaults */
* {
  scroll-behavior: smooth;
  font-family: var(--font-main);
  font-size: var(--font-size);
  color: var(--black);
  padding: 0;
  margin: 0;
  background-color: none;
  text-decoration: none;
  outline: none;
  list-style-type: none;
  letter-spacing: 0.01em;
  border: none;
}

/* Selection */
::-moz-selection {
  background: var(--selection);
}

::selection {
  background: var(--selection);
}

/* Site */
.site {
  margin: 0 auto;
  max-width: var(--max-width);
  min-width: var(--min-width);
}

/* Navbar */
.navbar {
  position: fixed;
  max-width: var(--max-width);
  min-width: var(--min-width);
  width: 100%;
  z-index: 1;
  background-color: #fff;
}

.navbar .elements {
  display: flex;
  justify-content: space-between;
  max-width: var(--max-width);
  min-width: var(--min-width);
  width: calc(100% - (1px * var(--offset)));
  height: calc(var(--font-size) * 5);
  margin: 0 auto;
}

/* Logo */
.logo {
  margin: 39px 0;
  height: 22px;
  overflow: hidden;
}

.logo img,
.logo img:active,
.logo img:visited {
  width: 220px;
  transition: all 0.5s;
}

.logo img:hover {
  opacity: 0.6;
}

/* Menu */
.menu {
  margin: 20px 0;
  height: 60px;
  overflow: hidden;
}

.menu img,
.menu img:active,
.menu img:visited {
  width: 48px;
  padding: 6px;
  transition: all 0.5s;
}

.menu img:hover {
  cursor: pointer;
  opacity: 0.5;
}

#menu-overlay {
  /* dis */
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  max-height: 0;
  z-index: -1;
  top: calc(var(--font-size) * 5);
  left: 0;
  right: 0;
  /* display: none; */
  background-color: #fff;
  /* background-color: red; */
  transition: all 0.3s ease-out;
}

.lang-list {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
}

.lang {
  display: inline-block;
  position: relative;
  margin: 5vh auto;
  text-align: center;
  letter-spacing: 0.02em;
  font-size: calc(var(--font-size) * 1.8);
  transition: all 0.2s;
  text-decoration: line-through;
  color: var(--_c);
}

.lang:hover,
.lang:hover .lang-redirect {
  color: var(--blue);
}

.lang-current {
  color: var(--black);
  font-weight: 700;
  text-decoration: none;
}

.lang-arrow {
  font-size: calc(var(--font-size) * 1.8);
  display: inline-block;
  opacity: 0;
  position: absolute;
  right: calc(var(--font-size) * -2);
  transition: all 0.2s;
}

/* .lang:hover .lang-arrow {
  opacity: 1;
} */

/* Footer */
.footer {
  position: relative;
  max-width: var(--max-width);
  min-width: var(--min-width);
  width: calc(100% - (1px * var(--offset)));
  height: 1.2em;
  margin: 2.4em auto;
}

.footer #copyright,
.footer #source {
  display: inline-block;
  position: absolute;
  top: 0;
  color: var(--text-footer);
  font-size: calc(var(--font-size) * 0.8);
  letter-spacing: 0.05em;
  height: var(--font-size);
}

.footer #source {
  right: 0;
  padding-bottom: 2px;
  border-bottom: solid 2px transparent;
  transition: all 0.2s;
}

.footer #source:hover {
  color: var(--_80);
  border-bottom: solid 2px var(--_80);
}

/* 768px */
@media (max-width: 768px) {
  :root {
    --font-size: calc((1px * var(--min-font-size)) + (var(--max-font-size) - var(--min-font-size)) * (100vw - 320px) / (768 - 320));
  }

  .navbar .elements,
  .footer {
    width: calc(100% - ((1px * var(--offset) / 2) + (80 - 40) * (100vw - 360px) / (768 - 360)));
  }
}

/* 360px */
@media (max-width: 360px) {
  .navbar .elements,
  .footer {
    width: calc(100% - (1px * var(--offset) / 2));
  }
}
