/* 
 * Enrique Ruiz Durazo
 * 2019-2020
 */

/* Fonts */
@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/inter-semibold.woff');
  font-weight: 600;
  font-style: normal;
}

/* Content */
#content {
  max-width: var(--max-width-content);
  margin: 0 auto;
  padding-top: var(--font-size-5);
  display: grid;
  grid-gap: 0;
  grid-template-columns: repeat(10, 1fr);
  grid-template-areas:
    '. hero hero hero hero hero hero hero hero.'
    '. highlights highlights highlights highlights highlights highlights highlights highlights .'
    '. blog blog blog blog blog blog blog blog .'
    '. contact contact contact contact contact contact contact contact .';
}

/* Hero - Section */
#hero {
  grid-area: hero;
  padding-top: var(--font-size-6);
}

/* H1 Title */
h1,
#slideshow-anim,
#slideshow-anim u {
  /*  */
  font-size: calc(var(--font-size) * 3.2);
  /*  */
  /* margin-bottom: calc(var(--font-size) * 4.8); */
  margin-bottom: calc(var(--font-size) * 1.6);
  /*  */
  height: 3.6em;
}

/* Hello - Hand Wave Emoji */
#hello {
  display: inline-block;
  height: calc(var(--font-size) * 3.2);
}

#slideshow-anim u {
  border-bottom: solid 6px var(--blue);
}

/* Learn More */
.learn-more,
.learn-more:active {
  display: inline-block;
  /* position: relative; */
  background-color: #fff0;
  color: var(--blue);
  /*  */
  font-size: calc(var(--font-size) * 1.1);
  /*  */
  margin: 0.5em 0 2.5em 0;
  letter-spacing: 0.02em;
  padding-bottom: 3px;
  transition: all 0.5s;
  border-bottom: solid 3px transparent;
}

.learn-more:hover,
.learn-more:focus {
  cursor: pointer;
  border-bottom: solid 3px var(--blue);
}

/* More - Slideshow */
#more {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 11;
  margin: 0 auto;
  overflow: auto;
}

/* background */
#more--bg {
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  width: 8000px;
  height: 8000px;
  /* max-width: 40px;
  max-height: 40px; */
  max-width: 0;
  max-height: 0;
  transition: max-width 0.5s, max-height 0.5s, opacity 0.2s;
  background: var(--blue);
  opacity: 0;
  border-radius: 50%;
  z-index: 10;
}

/* foreground */
#more--fg {
  width: 100%;
  height: 100%;
  background: var(--blue);
  transition: opacity 0.25s;
  opacity: 0;
}

.more--navbar {
  max-width: var(--max-width);
  min-width: var(--min-width);
  width: 100%;
  z-index: 1;
  margin: 0 auto;
}

.more--navbar--elements {
  display: flex;
  justify-content: space-between;
  width: calc(100% - (1px * var(--offset)));
  height: calc(var(--font-size) * 5);
  margin: 0 auto;
}

#more--logo,
#more--close {
  background-color: #fff0;
  overflow: hidden;
  display: block;
  text-align: center;
  transition: opacity 0.5s;
}

/* Logo */
#more--logo svg {
  width: 220px;
  height: auto;
}

/* Close */
#more--close svg {
  width: 48px;
  height: auto;
  padding: 6px;
}

#more--logo svg path,
#more--close svg path,
#more--back svg path,
#more--next svg path {
  fill: inherit;
}

#more--logo:hover,
#more--logo:focus,
#more--close:hover,
#more--close:focus {
  cursor: pointer;
  opacity: 0.6;
}

/* Text */
#more--text {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 20em;
  /* max-height: calc(90vh - 100px); */
  max-height: calc(80vh - 100px);
  text-align: center;
  align-items: center;
  justify-content: center;
}

#more--text p,
#more--text a {
  font-family: var(--font-main);
  margin: 0;
  color: #fff;
  text-transform: uppercase;
  line-height: 1.5em;
  font-size: var(--font-size-2);
  letter-spacing: 0.05em;
  font-weight: 600;
}

#more--text a,
#more--text a:active {
  color: inherit;
  padding-bottom: 1px;
  border-bottom: 4px dashed currentColor;
  transition: all 0.3s;
}

#more--text a:hover,
#more--text a:focus {
  border-bottom: 4px solid currentColor;
}

/* Back / Next */
#more--back,
#more--back:active,
#more--next,
#more--next:active {
  position: fixed;
  background-color: #fff0;
  transform: translate(0, -50%);
  /* top: 50vh; */
  top: 45vh;
  transition: opacity 0.5s;
}

#more--back:hover,
#more--back:focus,
#more--next:hover,
#more--next:focus {
  cursor: pointer;
  opacity: 0.6;
}

#more--back {
  /* left: 20px; */
  left: 32px;
}

#more--next {
  /* right: 20px; */
  right: 32px;
}

#more--back svg,
#more--next svg {
  width: 48px;
  height: 48px;
  padding: 6px;
}

/* Count */
#more--count,
#more--slash {
  font-size: var(--font-size-1_5);
  color: inherit;
}

#more--count {
  display: block;
  font-weight: 600;
  text-align: center;
  margin-top: 10vh;
}

#more--slash {
  font-family: var(--font-text);
  font-weight: 400;
  margin: 0 10px;
}

/* Separators */
.sep,
.sep-blog {
  background-color: var(--_d);
}

.sep {
  height: 2px;
  margin: 0 0 var(--font-size-2) 0;
}

.sep-blog {
  height: 1px;
  margin: 0 0 var(--font-size) 0;
}

/* Section Titles */
.section--title {
  /*  */
  font-size: calc(var(--font-size) * 1.8);
  /*  */
  margin-bottom: 1.5em;
}

/* Normal Text */
p {
  font-family: var(--font-text);
  font-size: var(--font-size);
  line-height: var(--font-size-1_5);
  margin-bottom: var(--font-size);
}

/* Highlights - Section */
/* #highlights {
  grid-area: highlights;
  padding-top: var(--font-size-5);
} */

/* Highlights - Card Grid */
/* .cards {
  display: grid;
  margin-bottom: 4em;
  grid-gap: 0;
  grid-template-columns: repeat(5, 1fr);
} */

/* Highlights - Individual Cards */
/* .card {
  display: inline-block;
  height: calc((896px / 5 - 10px) * 2);
  margin: 10px 10px 10px 10px;
  border-radius: 1px;
  box-shadow: 0 5px 20px -5px #aaaaaa;
  transition: all 0.3s ease;
}

#one {
  grid-column: 1;
  background-color: white;
}

#two {
  grid-column: 2;
  background-color: grey;
}

#three {
  grid-column: 3;
  background-color: black;
}

#four {
  grid-column: 4;
}

#five {
  grid-column: 5;
}

#one:hover,
#two:hover,
#three:hover,
#four:hover,
#five:hover {
  box-shadow: 0 20px 30px -10px #cccccc;
  transform: translateY(-1px) scale(1.03, 1.03);
}

.card a {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}

.card a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card a span {
  position: absolute;
  display: inline-block;
  top: 190px;
  left: 0px;
  text-align: center;
  width: 100%;
  transition: all 0.2s;
  letter-spacing: 0.04em;
  font-size: 1.05em;
  font-weight: 700;
  color: #fff;
} */

/* Blog - Section */
#blog {
  grid-area: blog;
  padding-top: var(--font-size-5);
}

.blog-post {
  /*  */
  margin-bottom: 1.6em;
}

.blog-post-thumbnail {
  display: flex;
  flex-direction: row-reverse;
}

.blog-post-default {
  display: flex;
}

.blog-post img {
  /*  */
  margin-top: 0.1em;
  width: var(--grid-unit-2);
  height: calc(var(--grid-unit-2) / 16 * 9);
  object-fit: cover;
  transition: all 0.2s ease;
  box-shadow: 0 5px 15px #ccc;
}

.blog-post a:hover img,
.blog-post a:focus img {
  transform: translateY(-1px);
  box-shadow: 0 10px 30px #ccc;
}

.blog-post .date-title-desc {
  display: flex;
  width: var(--grid-unit-6);
}

.blog-post span,
.blog-post small {
  display: block;
}

.blog-post .date {
  /*  */
  font-size: calc(var(--font-size) * 0.65);
  font-weight: 500;
  letter-spacing: 0.05em;
  color: var(--text-date);
  width: var(--grid-unit-2);
  /*  */
  height: calc(var(--font-size) * 1.4);
}

.blog-post .title-desc {
  width: var(--grid-unit-3);
}

.blog-post .title {
  /*  */
  font-size: calc(var(--font-size) * 0.9);
  font-weight: 700;
  transition: all 0.2s ease;
  /*  */
  height: calc(var(--font-size) * 1.4);
}

.blog-post a:hover .title,
.blog-post a:focus .title {
  color: var(--blue);
}

.blog-post .description {
  /*  */
  font-size: calc(var(--font-size) * 0.95);
  font-family: var(--font-text);
  color: var(--text-description-small);
  /*  */
  margin-bottom: 1em;
}

/* Contact - Section */
#contact {
  grid-area: contact;
  padding-top: var(--font-size-5);
}

.social-media-links {
  margin: var(--font-size-4) auto;
  display: grid;
  grid-gap: 0;
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-unit-2), 1fr));
}

.social-media-links li {
  margin: var(--font-size);
  /*  */
  height: calc(var(--font-size) * 1.6);
}

.social-media-links li img {
  height: 100%;
  /*  */
  margin-right: 0.8em;
}

.social-media-links li a {
  position: relative;
}

.social-media-links li a span {
  position: absolute;
  font-size: var(--font-size);
  /*  */
  top: -0.5em;
  /*  */
  padding-bottom: 0.1em;
  border-bottom: solid 3px transparent;
  transition: all 0.5s;
}

.social-media-links li a:hover span,
.social-media-links li a:focus span {
  border-bottom: solid 3px var(--black);
}

/* 1200px */
@media only screen and (max-width: 1200px) {
  #content {
    max-width: calc(var(--grid-unit) * 8);
    width: calc(100% - (1px * var(--offset)));
    grid-template-columns: repeat(8, 1fr);
    grid-template-areas:
      'hero hero hero hero hero hero hero hero'
      'highlights highlights highlights highlights highlights highlights highlights highlights'
      'blog blog blog blog blog blog blog blog'
      'contact contact contact contact contact contact contact contact';
  }
}

/* 976px */
@media only screen and (max-width: 976px) {
  .blog-post-thumbnail {
    width: 100%;
  }

  .blog-post .date-title-desc {
    display: block;
    flex: 1;
    width: var(--grid-unit-3);
  }
}

/* 768px */
@media only screen and (max-width: 768px) {
  #content {
    width: calc(100% - ((1px * var(--offset) / 2) + (var(--offset) - var(--offset) / 2) * (100vw - 360px) / (768 - 360)));
  }

  h1,
  #slideshow-anim,
  #slideshow-anim u {
    font-size: calc((2.2px * var(--min-font-size)) + (64 - 35.2) * (100vw - 360px) / (768 - 360));
  }

  #hello {
    height: calc((2.2px * var(--min-font-size)) + (64 - 35.2) * (100vw - 360px) / (768 - 360));
  }

  #slideshow-anim u {
    border-bottom: solid calc(4px + (6 - 4) * (100vw - 360px) / (768 - 360)) var(--blue);
  }

  /* Learn more */
  #more--text {
    max-height: calc(90vh - 100px);
  }

  .more--navbar--elements {
    width: calc(100% - ((1px * var(--offset) / 2) + (var(--offset) - var(--offset) / 2) * (100vw - 360px) / (768 - 360)));
  }

  /* Back / Next */
  #more--back,
  #more--back:active,
  #more--next,
  #more--next:active {
    position: fixed;
    background-color: #fff0;
    transform: translate(0, 0);
    top: calc(90vh - 8px);
    transition: opacity 0.5s;
  }

  /* Count */
  #more--count {
    margin-top: 0;
  }

  /* sections */
  .section--title {
    font-size: calc((1.6px * var(--min-font-size)) + (36 - 25.6) * (100vw - 360px) / (768 - 360));
  }

  .blog-post .date {
    font-size: calc((0.8px * var(--min-font-size)) + (13 - 12.8) * (100vw - 360px) / (768 - 360));
  }

  .blog-post .title {
    font-size: calc((0.95px * var(--min-font-size)) + (18 - 15.2) * (100vw - 360px) / (768 - 360));
  }

  .blog-post .description {
    font-size: calc((1px * var(--min-font-size)) + (19 - 16) * (100vw - 360px) / (768 - 360));
  }
}

/* 672px */
@media only screen and (max-width: 672px) {
  .blog-post img {
    /*  */
    margin-top: 0.25em;
    /*  */
    margin-bottom: 1.15em;
  }

  .blog-post-thumbnail {
    flex-direction: column;
  }
}

/* 360px */
@media only screen and (max-width: 360px) {
  #content {
    width: calc(100% - (1px * var(--offset) / 2));
  }

  
  h1,
  #slideshow-anim,
  #slideshow-anim u {
    font-size: calc(2.2px * var(--min-font-size));
  }
  
  #hello {
    height: calc(2.2px * var(--min-font-size));
  }
  
  #slideshow-anim u {
    border-bottom: solid 4px var(--blue);
  }
  
  /* Learn more */
  .more--navbar--elements {
    width: calc(100% - (1px * var(--offset) / 2));
  }

  /* Sections */
  .section--title {
    font-size: calc(1.6px * var(--min-font-size));
  }

  /* Blog */
  .blog-post .date {
    font-size: calc(0.8px * var(--min-font-size));
  }

  .blog-post .title {
    font-size: calc(0.95px * var(--min-font-size));
  }

  .blog-post .description {
    font-size: calc(1px * var(--min-font-size));
  }

  .blog-post .date-title-desc {
    width: 100%;
  }

  .blog-post .title-desc {
    width: 100%;
  }
}
