/* 
 * Enrique Ruiz Durazo
 * 2019
 */

* {
  scroll-behavior: smooth;
}

body {
  font-family: Karla, sans-serif;
  font-size: 14px;
  color: #202020;
  padding: 0;
  margin: 0;
  background-color: #fff;
}

::selection {
  color: #fff;
  background: #202020;
}

::-moz-selection {
  color: #fff;
  background: #202020;
}

.sep {
  display: inline-block;
  width: 10%;
  height: 2px;
  background-color: #ddd;
  margin: 4em 0 2em 0;
}

.content {
  position: relative;
  /* width: 280px; */
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}



/* scroll hack */
/* #container1{
  height: 100%;
  width: 100%;
  overflow: hidden;
}
#container2{
  width: 100%;
  height: 100%;
  overflow: auto;
} */



/* Left */

#left {
  position: relative;
  width: 240px;
  overflow: hidden;
  height: 100%;
}

.left {
  width: 300px;
  height: 100%;
  overflow: auto;
}

/* #lefty {
  width: 300px;
  height: 100%;
  overflow: auto;
} */




/* Logo */

.logo {
  margin-top: 30px;
  height: 24px;
  /* display: flex; */
}

.logo img,
.logo img:active,
.logo img:visited {
  width: 240px;
  transition: opacity .5s;
}

.logo img:hover {
  opacity: .6;
}



/* Profile picture */

.profile-pic img {
  width: 160px;
  border-radius: 150px;
  margin: 2em 0;
  box-shadow: 0 10px 30px #eee;
}




/* Social media */

.social-media .social-media-links {
  list-style: none;
  padding: 0;
  margin: 2em 0;
}

.social-media-links li {
  margin: .8em 0;
  display: block;
  height: 24px;
}

.social-media-links li img {
  height: 100%;
  margin-right: .75em;
}

.social-media-links li a,
.social-media-links li a:active,
.social-media-links li a:visited {
  position: relative;
  font-size: .9em;
  letter-spacing: .01em;
  text-decoration: none;
  color: #202020;
}

.social-media-links li a span {
  position: absolute;
  top: -.45em;
  transition: border .5s;
  border-bottom: solid 2px rgba(32, 32, 32, 0);
}

.social-media-links li a:hover span {
  border-bottom: solid 2px rgba(32, 32, 32, 0.8);
}












/* Right */


/* Language */

.lang {
  position: absolute;
  margin-top: 30px;
  right: 0;
  /* margin-bottom: 3em; */
}

.lang a,
.lang a:active,
.lang a:visited {
  text-decoration: none;
  /* font-size: .9em; */
  color: #a0a0a0;
  transition: color .5s;
}

.lang a:hover {
  color: #404040;
}








#right {
  position: relative;
}

.right {}





.greeting {
  position: relative;
  max-width: 520px;
}





h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Roboto, Arial, sans-serif;
  font-weight: 700;
  margin-top: 0;
  letter-spacing: .04em;
}

h1 {
  font-size: 2.074em;
  margin-bottom: 1em;
}

h2 {
  font-size: 1.728em;
  margin-bottom: 4vh;
}

/* h3 {
  font-size: 1.44em;
  margin-bottom: .5em;
}

h4 {
  font-size: 1.2em;
  margin-bottom: .5em;
}

h5 {}

h6 {}*/

p {
  line-height: 1.5em;
  letter-spacing: .01em;
  margin-top: 0;
  margin-bottom: 1em;
}

u {
  text-decoration: none;
  /* border-bottom: solid 4px #8aff4d; */
  border-bottom: solid 4px #0a60ff;
}






.learn-more,
.learn-more:active,
.learn-more:visited {
  text-decoration: none;
  color: #0a60ff;
  display: inline-block;
  font-size: 1.05em;
  margin-top: 2em;
  margin-bottom: 13vh;
  transition: border .5s;
  border-bottom: solid 2px rgba(10, 96, 255, 0);
}

.learn-more:hover {
  border-bottom: solid 2px rgba(10, 96, 255, 0.8);
}







/* Expertise */

.expertise {
  max-width: 480px;
  margin: 0 0 10em 0;
}

.expertise ul {
  list-style: none;
  padding: 0;
  margin: 0;
  /* margin-top: 0;
  margin-bottom: 1oem; */
}

/* .expertise li {
  display: inline;
  max-width: 380px;
} */

/* .expertise img {
  margin-top: 30px;
  margin-bottom: 10px;
  width: 64px;
  height: 64px;
} */

.expertise li {
  display: inline-block;
  padding: 4px 8px;
  margin: 0 .5em 1em 0;
  font-family: Roboto Mono, sans-serif;
  font-size: .72em;
  font-weight: 700;
  color: #404040;
  background-color: #eee;
  border-radius: 4px;
}






.contact {
  min-height: 100vh;
}

.contact a,
.contact a:active,
.contact a:visited {
  font-family: Roboto Mono, sans-serif;
  font-weight: 700;
  letter-spacing: .01em;
  color: #202020;
  font-size: 1.2em;
  text-decoration: none;
  /* border-bottom: solid 4px rgba(138, 255, 77, 0); */
  border-bottom: solid 4px rgba(10, 96, 255, 0);
  /* border-bottom: solid 4px rgba(32, 32, 32, 0); */
  transition: border .5s;
}

.contact a:hover {
  /* border-bottom: solid 4px rgba(138, 255, 77, 0.8); */
  border-bottom: solid 4px rgba(10, 96, 255, 0.8);
  /* border-bottom: solid 4px rgba(32, 32, 32, 0.8); */
}







.credits {
  position: absolute;
  bottom: 30px;
}

.credits p {
  color: #a0a0a0;
  margin: 0;
}










/*
 * 320
 */

@media (min-width: 320px) {
  body {
    font-size: calc(14px + (16 - 14) * (100vw - 320px) / (375 - 320));
  }

  .content {
    width: calc(100vw - 40px);
    margin: 0 auto;
    padding: 0 10px
  }

  /* Left */

  .social-media-links li {
    height: calc(24px + (26 - 24) * (100vw - 320px) / (760 - 320));
  }

  /* Right */

  /* .expertise img {
    width: calc(64px + (80 - 64) * (100vw - 320px) / (1200 - 320));
    height: calc(64px + (80 - 64) * (100vw - 320px) / (1200 - 320));
  } */

}



/*
 * 375
 */

@media (min-width: 375px) {
  body {
    font-size: 16px;
  }

}



/*
 * 460
 */

@media (min-width: 460px) {
  body {
    font-size: calc(16px + (20 - 16) * (100vw - 460px) / (1200 - 460));
  }

  .content {
    width: calc(420px + (680 - 420) * (100vw - 460px) / (760 - 460));
  }

}



/*
 * 760
 */

@media (min-width: 760px) {
  .content {
    width: calc(680px + (840 - 680) * (100vw - 760px) / (920 - 760));
  }

  /* Left */

  #left {
    position: fixed;
    left: 40px;
  }

  .social-media-links li {
    height: 26px;
  }


  /* Right */

  #right {
    left: 280px;
    width: calc(380px + (540 - 380) * (100vw - 760px) / (920 - 760));
  }

  .right {
    position: absolute;
    width: calc(380px + (540 - 380) * (100vw - 760px) / (920 - 760));
    padding-left: 20px;
  }

  .greeting {
    max-width: 480px;
    margin-top: 10em;
  }

}



/*
 * 920
 */

@media (min-width: 920px) {
  .content {
    width: 840px;
  }

  /* Left */

  #left {
    left: calc((100vw - 840px) / 2);
  }

  /* Right */

  #right {
    width: 540px;
  }

  .right {
    width: 540px;
  }

  /* .expertise li {
    width: 380px;
    margin-right: 40px;
  } */

}



/*
 * 1200
 */

@media (min-width: 1200px) {
  body {
    font-size: 20px;
  }

  .content {
    width: 1120px;
  }

  /* Left */

  #left {
    left: calc((100vw - 1120px) / 2);
  }

  /* Right */

  #right {
    width: 720px;
  }

  .right {
    width: 720px;
  }

  /* .expertise ul {
    width: 860px;
  }

  .expertise li {
    display: inline-grid;
  }

  .expertise img {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 80px;
    height: 80px;
  } */


}