/*
 * Enrique Ruiz Durazo
 * 2019
 */

 
 /* Fonts */
 @font-face {
  font-family: 'Charter';
  src: url('fonts/charter-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Charter';
  src: url('fonts/charter-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('fonts/inter-bold.woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('fonts/inter-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

/* Variables */
:root {
  --font-inter: 'Inter', sans-serif;
  --font-charter: 'Charter', serif;
  --max-width: 1160px;
  --min-width: 320px;
}

/* Defaults */
* {
  scroll-behavior: smooth;
  font-family: var(--font-inter);
  font-size: 20px;
  color: #aaa;
  padding: 0;
  margin: 0;
  background-color: #fff;
  text-decoration: none;
  outline: none;
  list-style: none;
  letter-spacing: .01em;
}

/* Selections */
::selection {
  color: #fff;
  background: #202020;
}

::-moz-selection {
  color: #fff;
  background: #202020;
}


/* Site */
.site {
  margin: 0 auto;
  max-width: var(--max-width);
}

/* Navbar */
.navbar {
  position: fixed;
  max-width: var(--max-width);
  width: 100%;
  z-index: 1;
}

.navbar .elements {
  width: calc(100% - 40px);
  height: 5em;
  margin: 0 auto;
}

/* Logo */
.logo {
  position: absolute;
  margin: 39px 0;
  overflow: hidden;
  height: 22px;
}

.logo img,
.logo img:active,
.logo img:visited {
  width: 220px;
  transition: opacity .5s;
}

.logo img:hover {
  opacity: .6;
}

/* Languages */



/* Content */
#content {
  margin: 0 20px;
  width: calc(100% - 40px);
  display: grid;
  grid-gap: 0;
  grid-template-columns: repeat(1, 1fr);
  grid-template-areas: 
    'error';
}


/* Error */
#error {
  grid-area: error;
  position: absolute;
  top: 33%;
  left: 50%;
  transform: translateX(-50%);
}

#error div {
  display: inline-block;
  font-size: 5em;
  text-align: center;
  letter-spacing: .05em;
  margin-bottom: .1em;
  width: 100%;
}

#error span {
  display: inline-block;
  font-size: 1.2em;
  text-align: center;
  width: 100%;
}




/* 320px */
@media (max-width: 320px) {
  * {
    font-size: 16px;
  }
}

/* 768px */
@media (max-width: 768px) {
  * {
    font-size: calc(16px + (20 - 16) * (100vw - 320px) / (768 - 320));
  }
}