/* 
 * Enrique Ruiz Durazo
 * 2019-2025
 */

/* Content */
#content {
  max-width: var(--max-width-home);
  margin: 0 auto;
  padding-top: var(--font-size-5);
  min-height: calc(100% - var(--font-size-6));
}

/* Hero - Section */
#hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: var(--max-width-home);
  margin: 0 auto;
  padding: var(--font-size-8) 0 var(--font-size-8);
}

/* H1 Title */
h1,
h1 span,
#slideshow-anim,
#slideshow-anim u {
  font-size: calc(var(--font-size) * 3.45);
}

/* Hello - Hand Wave Emoji */
#hello {
  display: inline-block;
  width: auto;
  height: calc(var(--font-size) * 3.45);
}

#slideshow-anim u {
  border-bottom: solid 6px var(--blue);
}

/* Animations */
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-8px);
  }
}

#slideshow-anim {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

#slideshow-anim.fade-out {
  -webkit-animation: fade-out 0.5s ease-in-out both;
  animation: fade-out 0.5s ease-in-out both;
}

#slideshow-anim.fade-in {
  -webkit-animation: fade-in 0.5s ease-in-out both;
  animation: fade-in 0.5s ease-in-out both;
}

/* Separators */
.sep,
.sep-note {
  background-color: var(--_d);
}

.sep {
  height: 2px;
  margin: 0 0 var(--font-size-2) 0;
}

.sep-note {
  height: 1px;
  margin: 0 0 var(--font-size) 0;
}

/* Section Titles */
.section__title {
  font-size: calc(var(--font-size) * 2);
  line-height: 1.5em;
  margin-bottom: 1em;
  letter-spacing: -0.005em;
}

/* Normal Text */
p {
  font-family: var(--font-main);
  font-size: var(--font-size);
  line-height: 1.8em;
  letter-spacing: 0.01em;
  margin-bottom: var(--font-size);
}

/* Section - Summary */
#summary-section {
  max-width: var(--max-width-home);
  margin: 0 auto var(--font-size-6);
}

.summary {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.summary__text {
  max-width: 470px;
  width: 100%;
}

.summary__text p {
  margin-bottom: 1.6em;
  letter-spacing: 0.01em;
}

.summary__text .bold {
  font-weight: 600;
}

.summary__text .link {
  position: relative;
  border-bottom: 2px solid #ddd;
  padding-bottom: 1px;
  transition: all 0.2s;
  font-weight: 400;
  letter-spacing: 0.01em;
}

.summary__text .link:hover {
  cursor: pointer;
  color: var(--blue);
  border-bottom: 2px solid var(--blue);
}

.summary__text .link:focus-visible {
  border-radius: 4px;
  box-shadow: 0 0 0 4px var(--blue);
}

.summary__image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  max-width: 470px;
  width: 100%;
  min-height: 420px;
  margin-top: 1em;
}

.summary__image .image-wrapper {
  perspective: 1000px;
  transition: transform 0.3s ease;
}

.summary__image .image-wrapper img {
  border-radius: 12px;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.1);
  transform-style: preserve-3d;
  transition: transform 0.2s ease-out;
}

/* Learn More / Don't Click Here Button */
.learn-more,
.learn-more:active {
  display: inline-block;
  color: var(--blue);
  font-size: var(--font-size);
  font-weight: 500;
  margin: 0;
  letter-spacing: 0.02em;
  padding: 16px 32px;
  border-radius: 40px;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out, color 0.2s ease-in-out;
}

.learn-more:hover,
.learn-more:focus {
  cursor: pointer;
  color: #fff;
  background-color: var(--blue);
}

/* More / Slideshow */
#more {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 11;
  margin: 0 auto;
  overflow: auto;
}

/* Background */
#more--bg {
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  width: 8000px;
  height: 8000px;
  max-width: 0;
  max-height: 0;
  transition: max-width 0.5s, max-height 0.5s, opacity 0.2s;
  background: var(--blue);
  opacity: 0;
  border-radius: 50%;
  z-index: 10;
}

/* Foreground */
#more--fg {
  width: 100%;
  height: 100%;
  background: var(--blue);
  transition: opacity 0.25s;
  opacity: 0;
}

.more--navbar {
  width: 100%;
  z-index: 1;
  margin: 0 auto;
}

.more--navbar--elements {
  display: flex;
  justify-content: space-between;
  width: calc(100% - (1px * var(--offset)));
  height: calc(var(--font-size) * 5);
  margin: 0 auto;
}

#more--logo,
#more--close {
  background-color: #fff0;
  display: block;
  text-align: center;
  transition: opacity 0.5s;
}

/* Logo */
#more--logo {
  height: 22px;
}

#more--logo svg {
  width: 220px;
  height: auto;
}

/* Close */
#more--close svg {
  display: block;
  width: 48px;
  height: auto;
  padding: 6px;
}

#more--logo svg path,
#more--close svg path,
#more--back svg path,
#more--next svg path {
  fill: inherit;
}

#more--logo:hover,
#more--close:hover {
  cursor: pointer;
}
#more--logo:focus-visible,
#more--close:focus-visible {
  border-radius: 4px;
  box-shadow: 0 0 0 4px var(--blue);
}

/* Text */
#more--text {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 25em;
  max-height: calc(90vh - 100px);
  text-align: center;
  align-items: center;
  justify-content: center;
}

#more--text p {
  width: min(420px, calc(100% - 60px));
}

#more--text p,
#more--text a {
  font-family: var(--font-main);
  margin: 0;
  color: #fff;
  text-transform: uppercase;
  line-height: 1.5em;
  font-size: var(--font-size-2);
  letter-spacing: 0.05em;
  font-weight: 600;
}

#more--text a,
#more--text a:active {
  color: inherit;
  padding-bottom: 1px;
  border-bottom: 4px dashed currentColor;
  transition: all 0.3s;
}

#more--text a:hover,
#more--text a:focus-visible {
  border-bottom: 4px solid currentColor;
}

.more--bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* Back / Next */
#more--back,
#more--back:active,
#more--next,
#more--next:active {
  background-color: #fff0;
  height: 60px;
  transition: opacity 0.5s;
}

#more--back:hover,
#more--next:hover {
  cursor: pointer;
}

#more--back svg,
#more--next svg {
  width: 48px;
  height: auto;
  padding: 6px;
  display: block;
}

/* Count */
#more--count,
#more--slash {
  font-size: var(--font-size-1_5);
  color: inherit;
}

#more--count {
  font-weight: 600;
  text-align: center;
  margin: 0 20px;
  width: 100px;
}

#more--slash {
  font-family: var(--font-main);
  font-weight: 400;
  margin: 0 10px;
}

/* Section - Portfolio */
/* #portfolio-section {
} */

/* Portfolio - Cards Container */
/* .cards {
  display: flex;
  flex-direction: row;
  gap: 10px;
} */

/* Portfolio - Individual Cards */
/* .card {
  display: inline-block;
  width: calc((100% - 20px) / 3);
  height: 300px;
  box-shadow: 0 5px 20px -5px #aaaaaa;
} */

/* .card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

/* Section - Notes */
#notes-section {
  max-width: var(--max-width-home);
  margin: 0 auto var(--font-size-6);
}

.note {
  margin-bottom: 1.6em;
}

.note-thumbnail {
  display: flex;
  flex-direction: row-reverse;
}

.note-default {
  display: flex;
}

.note img {
  margin-top: 0.1em;
  width: var(--grid-unit-2);
  height: calc(var(--grid-unit-2) / 16 * 9);
  object-fit: cover;
  transition: all 0.2s ease;
  box-shadow: 0 5px 15px #ccc;
}

.note a:hover img,
.note a:focus-visible img {
  transform: translateY(-1px);
  box-shadow: 0 10px 30px #ccc;
}

.note .date-title-desc {
  display: flex;
  width: var(--grid-unit-6);
}

.note span,
.note small {
  display: block;
}

.note .date {
  font-size: calc(var(--font-size) * 0.7);
  font-weight: 500;
  letter-spacing: 0.05em;
  color: var(--text-date);
  width: var(--grid-unit-2);
  line-height: calc(var(--max-font-size) * 1.4px);
}

.note .title-desc {
  width: var(--grid-unit-3);
}

.note .title {
  font-size: calc(var(--font-size) * 0.95);
  font-weight: 700;
  transition: all 0.2s ease;
  line-height: calc(var(--max-font-size) * 1.4px);
}

.note a:hover .title,
.note a:focus-visible .title {
  color: var(--blue);
}

.note .description {
  font-size: calc(var(--font-size) * 0.95);
  font-family: var(--font-main);
  color: var(--text-description-small);
  margin-bottom: 1em;
}

/* Section - Contact */
#contact-section {
  max-width: var(--max-width-home);
  margin: 0 auto var(--font-size-6);
}

.social-media-links {
  margin: var(--font-size-4) auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.social-media-links li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 25%;
  margin-bottom: var(--font-size-2);
}

.social-media-links li a,
.social-media-links li button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 28px 16px 20px;
  background-color: transparent;
  width: fit-content;
  transition: all 0.2s;
  border-radius: 40px;
}

.social-media-links li a img,
.social-media-links li button img {
  height: 100%;
  margin-right: 0.8em;
  transition: all 0.2s;
}

.social-media-links li a span,
.social-media-links li button span {
  flex: none;
  display: inline-block;
  font-size: var(--font-size);
  font-weight: 500;
  letter-spacing: 0.02em;
  transition: all 0.2s;
}

.social-media-links li a:hover,
.social-media-links li a:focus-visible,
.social-media-links li button:hover,
.social-media-links li button:focus-visible {
  cursor: pointer;
  background-color: var(--black);
}

.social-media-links li a:hover img,
.social-media-links li a:focus-visible img,
.social-media-links li button:hover img,
.social-media-links li button:focus-visible img {
  filter: invert(1);
}

.social-media-links li a:hover span,
.social-media-links li a:focus-visible span,
.social-media-links li button:hover span,
.social-media-links li button:focus-visible span {
  color: #fff;
}

/* Media queries */

/* 1040px */
@media only screen and (max-width: 1040px) {
  #content {
    width: calc(
      100% -
        (
          (1px * var(--offset) * 0.75) + (var(--offset) - var(--offset) * 0.75) *
            (100vw - 768px) / (1040 - 768)
        )
    );
  }

  h1,
  h1 span,
  #slideshow-anim,
  #slideshow-anim u {
    font-size: calc((60px) + (69 - 60) * (100vw - 768px) / (1040 - 768));
  }

  .more--navbar--elements {
    width: calc(
      100% -
        (
          (1px * var(--offset) / 2) + (var(--offset) * 0.75 - var(--offset) / 2) *
            (100vw - 480px) / (768 - 480)
        )
    );
  }
}

/* 1000px */
@media only screen and (max-width: 1000px) {
  .summary {
    flex-direction: column;
  }

  .summary__text,
  .summary__image {
    max-width: initial;
  }

  .summary__image {
    margin-top: var(--font-size-2);
  }

  .note-thumbnail {
    width: 100%;
  }

  .note .date-title-desc {
    display: block;
    flex: 1;
    width: var(--grid-unit-3);
  }

  .social-media-links li {
    width: 50%;
    align-items: flex-start;
    justify-content: flex-start;
  }
}

/* 768px */
@media only screen and (max-width: 768px) {
  #content {
    width: calc(
      100% -
        (
          (1px * var(--offset) / 2) +
            ((var(--offset) * 0.75) - var(--offset) / 2) * (100vw - 480px) /
            (768 - 480)
        )
    );
  }

  .more--navbar--elements {
    width: calc(
      100% -
        (
          (1px * var(--offset) / 2) +
            ((var(--offset) * 0.75) - var(--offset) / 2) * (100vw - 480px) /
            (768 - 480)
        )
    );
  }

  h1,
  h1 span,
  #slideshow-anim,
  #slideshow-anim u {
    font-size: calc(
      (3px * var(--min-font-size)) + (60 - 48) * (100vw - 480px) / (768 - 480)
    );
  }

  #hello {
    height: calc(
      (3px * var(--min-font-size)) + (69 - 48) * (100vw - 480px) / (768 - 480)
    );
  }

  #slideshow-anim u {
    border-bottom: solid calc(4px + (6 - 4) * (100vw - 480px) / (768 - 480))
      var(--blue);
  }

  /* Learn more */
  #more--logo {
    height: calc((1px * 20) + (22 - 20) * (100vw - 480px) / (768 - 480));
  }

  #more--logo svg {
    width: calc((1px * 200) + (220 - 200) * (100vw - 480px) / (768 - 480));
  }

  #more--close svg {
    width: calc((1px * 40) + (48 - 40) * (100vw - 480px) / (768 - 480));
  }

  #more--text {
    max-height: calc(90vh - 100px);
  }

  #more--text p,
  #more--text a {
    font-size: calc(
      (1.8px * var(--min-font-size)) + (40 - 28.8) * (100vw - 480px) /
        (768 - 480)
    );
  }

  /* Back / Next */
  #more--back,
  #more--back:active,
  #more--next,
  #more--next:active {
    background-color: #fff0;
    transition: opacity 0.5s;
  }

  #more--back svg,
  #more--next svg {
    width: calc((1px * 40) + (48 - 40) * (100vw - 480px) / (768 - 480));
  }

  /* Count */
  #more--count {
    margin-top: 0;
  }

  .note .date {
    font-size: calc(
      (0.8125px * var(--min-font-size)) + (14 - 13) * (100vw - 480px) /
        (768 - 480)
    );
  }

  .note .title {
    font-size: calc(
      (1.0625px * var(--min-font-size)) + (19 - 17) * (100vw - 480px) /
        (768 - 480)
    );
  }

  .note .description {
    font-size: calc(
      (1px * var(--min-font-size)) + (19 - 16) * (100vw - 480px) / (768 - 480)
    );
  }
}

/* 672px */
@media only screen and (max-width: 672px) {
  .note img {
    margin-top: 0.25em;
    margin-bottom: 1.15em;
  }

  .note-thumbnail {
    flex-direction: column;
  }
}

/* 480px */
@media only screen and (max-width: 480px) {
  #content {
    width: calc(100% - (1px * var(--offset) / 2));
  }

  h1,
  h1 span,
  #slideshow-anim,
  #slideshow-anim u {
    font-size: calc(2.5px * var(--min-font-size));
  }

  #hello {
    height: calc(2.5px * var(--min-font-size));
  }

  #slideshow-anim u {
    border-bottom: solid 4px var(--blue);
  }

  /* Learn more */
  #more--logo {
    height: 20px;
  }

  #more--logo svg {
    width: 200px;
  }

  #more--text {
    max-height: calc(80vh - 100px);
  }

  #more--text p,
  #more--text a {
    font-size: var(--font-size-1_8);
  }

  #more--close svg {
    width: 40px;
  }

  #more--back svg,
  #more--next svg {
    width: 40px;
  }

  .more--navbar--elements {
    width: calc(100% - (1px * var(--offset) / 2));
  }

  .summary {
    flex-direction: column-reverse;
  }

  .summary__image {
    margin: var(--font-size-2) 0;
  }

  /* Notes */
  .note .date {
    font-size: calc(0.8125px * var(--min-font-size));
  }

  .note .title {
    font-size: calc(1.0625px * var(--min-font-size));
  }

  .note .description {
    font-size: calc(1px * var(--min-font-size));
  }

  .note .date-title-desc {
    width: 100%;
  }

  .note .title-desc {
    width: 100%;
  }

  /* Contact */
  .social-media-links {
    gap: 1em;
    margin: var(--font-size-2) 0;
  }

  .social-media-links li {
    width: 100%;
    margin: 0 0 0 -16px;
  }

  .social-media-links li a,
  .social-media-links li button {
    padding: 12px 24px 12px 16px;
  }
}
