/* 
 * Enrique Ruiz Durazo
 * 2019-2025
 */

/* Content */
#content {
  max-width: var(--max-width-home);
  width: calc(100% - (1px * var(--offset)));
  margin: 0 auto;
  display: grid;
  grid-gap: 0;
  grid-template-columns: repeat(1, 1fr);
  grid-template-areas: 'error';
}

/* Error */
#error {
  grid-area: error;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
}

#error div {
  /*  */
  margin-bottom: 0.25em;
  color: var(--text-error_404);
  font-size: var(--font-size-5);
  text-align: center;
  letter-spacing: 0.05em;
}

#error span {
  display: block;
  color: var(--text-error_404);
  font-size: var(--font-size-1_2);
  text-align: center;
}

/* Media queries */

/* 1200px */
@media (max-width: 1200px) {
  #content {
    max-width: var(--grid-unit-8);
  }
}

/* 768px */
@media (max-width: 768px) {
  #content {
    width: calc(
      100% -
        ((1px * var(--offset) / 2) + (80 - 40) * (100vw - 360px) / (768 - 360))
    );
  }
}

/* 360px */
@media (max-width: 360px) {
  #content {
    width: calc(100% - (1px * var(--offset) / 2));
  }
}
